<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  ​
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<nav>
  <div class="nav-wrapper red">
    <a href="" class="brand-logo right">SiblingSupportPro</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="../index.handlebars">Home</a></li>
      <li><a href="../workshop.handlebars">Workshop</a></li>
      <li><a href="../library.handlebars">Library</a></li>
      <li><a href="../community.handlebars">Communtity</a></li>
    </ul>
  </div>
</nav>


<body>
  {{{body}}}
</body>

<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
​
<script>
  $(document).ready(function () {

    $('.slider').slider();

    $('.fixed-action-btn').floatingActionButton();



  })
</script>

</html>