<div class="container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-1.jpg" alt="">
                <div class="caption center-align">
                    <h3>SiblingSupportProject</h3>
                    <h4 class="light grey-text text-lighten-3">Our Brothers</h4>
                    <h4 class="light grey-text text-lighten-3">Our Sisters</h4>
                    <h4 class="light grey-text text-lighten-3">Ourselves...</h4>
                    ​
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-3.jpg" alt="">
                <div class="caption left-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>

        </ul>
    </div>

    <div class="container" id="signup">
        <h1 id="heading" class="center-align red-text">Registration Form</h1>
        <div class="row">
            <form class="col s12 #212121 grey darken-4">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="name" class="validate white-text">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input type="email" class="validate white-text" id="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_city</i>
                        <input type="text" class="validate white-text" id="state">
                        <label for="state">State</label>
                    </div>
                    <button class="btn red z-depth-5 center-align">SignUp</button>
                </div>
            </form>

        </div>





        <div class="container">
            <form>
                <div class="input-field" id="floating-panel">
                    <input id="chapter" type="text" placeholder="Enter a chapter location..">
                    <label class="active" for="chapter"></label>
                    <input id="submit" class="btn waves-effect #ffab40" type="button" value="Search">
                </div>
            </form>
            <main>
                <div class="container" id="boxOne">


                    <div class="event-card"></div>

                </div>
            </main>
        </div>

        <div class="row center-text">
            <div class="col s6">
                <h1 class="center-text">Workshops</h1>
                <p>The Sibling Support Project specializes in providing family-friendly and highly rated workshops on
                    sibling
                    issues to parents, service providers, and siblings of all ages. To date, we’ve provided workshops in
                    every
                    state, most Canadian provinces, and in nine additional countries. We also do workshops for (and
                    about) two
                    other traditionally underserved family members: fathers and grandparents.
                </p>


            </div>
            <div class="col s6">
                <h1 class="text-center">Trainings</h1>
                <p>Our Sibshop facilitator trainings have been offered in almost every state and in eight countries,
                    leading
                    to
                    the creation of over 450 Sibshops worldwide. They’re lively events with something for parents,
                    providers,
                    adult sibs, and even young brothers and sisters!
                </p>
                <p>Our two-day Sibshop facilitator trainings have much to offer to family members and service providers,
                    specifically:</p>
                <ul>
                    <li>
                        --Future Sibshop facilitators and administrators who attend both days of the two-day training
                        and
                        become
                        first-generation Sibshop facilitators;
                    </li>
                    <li> --Family members, university personnel, and service providers who attend just the first day as
                        we
                        discuss
                        sibs' concerns across the lifespan; and
                    </li>
                    <li> --Young sibs who participate in the second day's demonstration Sibshop.</li>
                </ul>
                <p>
                    Some training hosts also choose to add an informal event at the end of the first day just for adult
                    sibs.
                </p>

            </div>
        </div>


        <div class="container-fluid">
            <h2>Upcoming Events</h2>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Facilitator Training and Sibling Workshop</span>
                            <p>Date:Jun 14, 2019
                               Where:
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                {{!--  --}}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Facilitator Training and Sibling Workshop</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Facilitator Training and Sibling Workshop</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 ">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Facilitator Training and Sibling Workshop</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                {{!-- End of Row --}}
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                {{!--  --}}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                {{!--  --}}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                {{!--  --}}
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- End of Container --}}
    </div>