<div class="container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-1.jpg" alt="">
                <div class="caption center-align">
                    <h3>SiblingSupportProject</h3>
                    <h4 class="light grey-text text-lighten-3">Our Brothers</h4>
                    <h4 class="light grey-text text-lighten-3">Our Sisters</h4>
                    <h4 class="light grey-text text-lighten-3">Ourselves...</h4>
                    ​
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-3.jpg" alt="">
                <div class="caption left-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>

        </ul>
    </div>
    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Login</button>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Sign-in</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">done</a>
        </div>
    </div>

    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Sign-Up</button>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Register</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">done</a>
        </div>
    </div>


</div>
​
<div class="container">
    <form>
        <div class="input-field" id="floating-panel">
            <input id="chapter" type="text" placeholder="Enter a chapter location..">
            <label class="active" for="chapter"></label>
            <input id="submit" class="btn waves-effect #ffab40" type="button" value="Search">
        </div>
    </form>
    <main>
        <div class="container" id="boxOne">

            <div class="event-card"></div>

        </div>
    </main>
</div>

<div class="row center-text">
    <div class="col s6">
        <h1 class="center-text">Workshops</h1>
        <p>Bye. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quaerat eius nulla adipisci ducimus
            tenetur animi omnis autem cum sint, voluptate, id enim quibusdam porro dolore ullam cumque tempore aperiam.
        </p>
        <ul>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
        </ul>
    </div>
    <div class="col s6">
        <h1 class="text-center">Trainings</h1>
        <p>Bye. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quaerat eius nulla adipisci ducimus
            tenetur animi omnis autem cum sint, voluptate, id enim quibusdam porro dolore ullam cumque tempore aperiam.
        </p>
        <ul>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
            <li>lorem Lapitis</li>
        </ul>
    </div>
</div>
