<div class="container">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-1.jpg" alt="">
                <div class="caption center-align">
                    <h3>SiblingSupportProject</h3>
                    <h4 class="light grey-text text-lighten-3">Our Brothers</h4>
                    <h4 class="light grey-text text-lighten-3">Our Sisters</h4>
                    <h4 class="light grey-text text-lighten-3">Ourselves...</h4>
                    ​
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-2.jpg" alt="">
                <div class="caption right-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>
            <li>
                <img src="http://lorempixel.com/output/nature-q-c-800-400-3.jpg" alt="">
                <div class="caption left-align">
                    <h3>SiblingSupportProject</h3>
                </div>
            </li>

        </ul>
    </div>
    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Login</button>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Sign-in</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">done</a>
        </div>
    </div>

    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Sign-Up</button>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Register</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">done</a>
        </div>
    </div>



</div>

<div class="container">
    <form>
        <div class="input-field" id="floating-panel">
            <input id="chapter" type="text" placeholder="Enter a chapter location..">
            <label class="active" for="chapter"></label>
            <input id="submit" class="btn waves-effect #ffab40" type="button" value="Search">
        </div>
    </form>
    <main>
        <div class="container" id="boxOne">

            <div class="event-card"></div>

        </div>
    </main>
</div>

<div class="row center-text">
    <div class="col s6">
        <h1 class="center-text">Workshops</h1>
        <p>The Sibling Support Project specializes in providing family-friendly and highly rated workshops on sibling
            issues to parents, service providers, and siblings of all ages. To date, we’ve provided workshops in every
            state, most Canadian provinces, and in nine additional countries. We also do workshops for (and about) two
            other traditionally underserved family members: fathers and grandparents.
        </p>
      
    </div>
    <div class="col s6">
        <h1 class="text-center">Trainings</h1>
        <p>Our Sibshop facilitator trainings have been offered in almost every state and in eight countries, leading to
            the creation of over 450 Sibshops worldwide. They’re lively events with something for parents, providers,
            adult sibs, and even young brothers and sisters!
        </p>
        <p>Our two-day Sibshop facilitator trainings have much to offer to family members and service providers,
            specifically:</p>
        <ul>
            <li>
            --Future Sibshop facilitators and administrators who attend both days of the two-day training and become
            first-generation Sibshop facilitators;
           </li>
           <li> --Family members, university personnel, and service providers who attend just the first day as we discuss
            sibs' concerns across the lifespan; and
           </li>
           <li> --Young sibs who participate in the second day's demonstration Sibshop.</li>
            </ul>
            <p>
            Some training hosts also choose to add an informal event at the end of the first day just for adult sibs.</p>
     
    </div>
</div>

<div class="container">
    <h2>Upcoming Events</h2>
    
</div>