<table class="responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        {{#each libraries}}
        <tr>
            <td>{{this.}}</td>
           <td>{{this.}}</td>
            <td>{{this.}}</td>
            <td>{{this.}}</td>
        </tr>
    </tbody>
</table>

