<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="input-field ">
                <select id="categoryMenu" onfocus="this.selectedIndex = -1;" onchange='getCategories(event)'>
                    <option selected value="">All Categories</option>

                    <option value="1">Books</option>
                    <option value="2">Article</option>
                    <option value="3">Adult Readers</option>
                    <option value="4">Young Readers</option>

                </select>
            </div>
        </div>
    </div>
</div>


<table class="responsive" id="library-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Link</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody >
        {{#each data}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.url}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    var getCategories = function(event)  {
        var dropdown = document.getElementById("categoryMenu"); 
        var selectedOptionValue = dropdown.options[dropdown.selectedIndex].value;
        //
        // find value for category
        //
        fetch(`/api/library/${selectedOptionValue}`).then(function(response){
            console.log(JSON.stringify(response));
        });
    }
    </script>