<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h1></h1>
                <select class="custom-select" id="category">
                    <option selected value="">All Categories</option>
                    <option value="Books">Books:</option>
                    <option value="Article">Article:</option>
                    <option value="Adult">Adult Readers:</option>
                    <option value="Young">Young Readers:</option>
                </select>
            </div>
        </div>
    </div>
</div>


<table class="responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Link</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        {{#each libraries}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.url}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>