<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <select class="custom-select" id="category">
                    <option selected value="">All Categories</option>
                    <option value="Books">Books:</option>
                    <option value="Article">Article:</option>
                    <option value="Adult">Adult Readers:</option>
                    <option value="Young">Young Readers:</option>
                </select>
            </div>
        </div>
    </div>
</div>