 <div class="container">
        <form>
            <div class="input-field" id="floating-panel">
                <input id="address" type="text" placeholder="Enter a location..">
                <label class="active" for="address"></label>
                <input id="submit" class="btn waves-effect #ffab40" type="button" value="Search">
            </div>
        </form>
    </div>


<table class="responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th></th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        {{#each libraries}}
        <tr>
            <td>{{this.title}}</td>
           <td>{{this.author}}</td>
            <td>{{this.url}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

